@model IEnumerable<webProgProje.Models.Randevu>

@{
    TempData["Title"] = "RandevuListele";
}
@if (TempData["admin_randevuMesaj"]is not null)
{
    <h3 class="text-success">@TempData["admin_randevuMesaj"]</h3>
}
<h1>RandevuListele</h1>

<p>
    <a asp-action="RandevuEkle"><button class="btn btn-primary">+Yeni kayıt ekle</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tarih
            </th>
            <th>
                Saat
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anadal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.RandevuDate.ToShortDateString()
            </td>
            <td>
                @item.RandevuTime.ToShortTimeString()
            </td>
            <td>
                    @if (item.Durum == true)
                    {
                        <p style="color:green">Mevcut</p>
                    }
                    else
                    {
                        <p style="color:red">Mevcut değil</p>
                    }
                    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doktor.Kullanici.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anadal.AnadalAd)
            </td>
            <td>
                <a asp-action="RandevuDuzenle" asp-route-id="@item.RandevuID">Düzenle</a> |
                <a asp-action="RandevuDetay" asp-route-id="@item.RandevuID">Detaylar</a> |
                <a asp-action="RandevuSil" asp-route-id="@item.RandevuID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
