@model webProgProje.Models.Randevu


<h1>RandevuEkle</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dateANDtime" class="control-label"></label>
                <input asp-for="dateANDtime" class="form-control" value="@Model.dateANDtime.ToShortDateString()"/>
                <span asp-validation-for="dateANDtime" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" value="True"/>
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AnadalID" class="control-label"></label>
                <select asp-for="AnadalID" class="form-control">
                    <option value="">Anadal Seçiniz...</option>
                    @if(Model.AnadalList is not null)
                    {
                        @foreach (var x in Model.AnadalList)
                        {
                            if (x != null)
                            {
                                <option value="@x.AnadalID">@x.AnadalAd.ToUpper()</option>
                            }
                            else
                            {
                                <option value="0">KAYIT BULUNAMADI</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="AnadalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorID" class="control-label"></label>
                <select asp-for="DoktorID" class ="form-control" >
                    <option value="">Doktor Seçiniz...</option>
                    @if(Model.DoktorList is not null)
                    {
                        @foreach (var x in Model.DoktorList)
                        {
                            if (x != null)
                            {
                                <optgroup label="@x.Anadal.AnadalAd">
                                <option value="@((int)x.DoktorID)">
                                        @x.DoktorDerece.ToUpper() &nbsp
                                        @x.Kullanici.Ad.ToUpper() &nbsp @x.Kullanici.Soyad.ToUpper()
                                </option>
                                ------------------
                                </optgroup>
                            }
                            else
                            {
                                <option value="0">KAYIT BULUNAMADI</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="DoktorID" class="text-danger"></span>
            </div>
           
            <div class="form-group" hidden>
                <label asp-for="HastaID" class="control-label"></label>
                <select asp-for="HastaID" class ="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script type="text/javascript" src=".\js/site.js"></script>
}

