@model webProgProje.Models.Randevu

@{
    TempData["Title"] = "RandevuDuzenle";
}

<h1>RandevuDuzenle</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuDuzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RandevuID" />
            <div class="form-group">
                <label asp-for="dateANDtime" class="control-label">Tarih ve Saat</label>
                <input asp-for="dateANDtime" class="form-control" value=""/>
                <span asp-validation-for="dateANDtime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AnadalID" class="control-label">Anadal</label>
                <select asp-for="AnadalID" class="form-control">
                    <option value="">Doktor Seçiniz...</option>
                    @foreach (var x in Model.AnadalList ?? new List<Anadal>())
                    {
                        if (x != null)
                        {
                            <option value="@x.AnadalID">@x.AnadalAd.ToUpper()</option>
                        }
                        else
                        {
                            <option value="0">KAYIT BULUNAMADI</option>
                        }
                    }
                </select>
                <span asp-validation-for="AnadalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorID" class="control-label">Doktor</label>
                <select asp-for="DoktorID" class="form-control">
                    <option value="">Doktor Seçiniz...</option>
                    @foreach (var x in Model.DoktorList ?? new List<Doktor>())
                    {
                        @if (x != null)
                        {
                            <option value="@((int)x.DoktorID)">@x.DoktorDerece.ToUpper() &nbsp 
                                @x.Kullanici.Ad.ToUpper() &nbsp; @x.Kullanici.Soyad.ToUpper()</option>
                        }
                        else
                        {
                            <option value="0">KAYIT BULUNAMADI</option>
                        }
                    }
                </select>
                <span asp-validation-for="DoktorID" class="text-danger"></span>
            </div>
            
            <div class="form-group" hidden>
                <label asp-for="HastaID" class="control-label"></label>
                <select asp-for="HastaID" class="form-control" asp-items="ViewBag.HastaID"></select>
                <span asp-validation-for="HastaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Düzenlemeyi Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RandevuListele">Randevulara dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
