@model IEnumerable<webProgProje.Models.Randevu>


<h1>Randevu Al</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Tarih
            </th>
            <th>
                Saat
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anadal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.RandevuDate.ToShortDateString()
            </td>
            <td>
                @item.RandevuTime.ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoktorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnadalID)
            </td>
            <td>    
                <a asp-controller="Hasta" asp-action="RandevuAl" asp-route-id="@item.RandevuID"><button type="button" class="btn btn-primary">Randevu Al</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
